<footer id="main-footer" class="contact-footer-bg-color">
    <div class="container contact-footer py-3">
        <div class="row">

            <div class="col-lg-4">
                <div class="row">
                    <div class="col-lg-6">
                        <img src="{{site.url}}/assets/img/old/BVRLA-Logo-2017-300x127.jpg" class="img-fluid" alt="">
                    </div>
                    <div class="col-lg-6">
                        <img src="{{site.url}}/assets/img/old/Camping-and-Caravan-club.jpg" class="img-fluid" alt="">
                    </div>
                    <div class="col-lg-6">
                        <img src="{{site.url}}/assets/img/old/Good-To-Go-England-Green.png" class="img-fluid" alt="">

                    </div>
                    <div class="col-lg-6">
                        <img src="{{site.url}}/assets/img/old/powered-by-stripe-1.png" class="img-fluid" alt="">

                    </div>
                    <div class="col-lg-6">
                        <img src="{{site.url}}/assets/img/old/caravan-and-motorhome-club-480x113.png" class="img-fluid" alt="">

                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="contact">
                    <h2>Address</h2>
                    <address>
                        <p>Old Grain Store</p>
                        <p>Wymeswold Lodge</p>
                        <p>Narrow Lodge</p>
                        <p>Wymeswold</p>
                        <p>Loughborough</p>
                        <p>LE12 6SD</p>
                    </address>
                    <h2>Links</h2>
                    <ul class="list-group">
                        <li><a href="#">britain-magazine.com</a></li>
                        <li><a href="#">visitwales.com</a></li>
                        <li><a href="#">visitwales.com</a></li>
                        <li><a href="#">visitwales.com</a></li>
                        <li><a href="#">visitwales.com</a></li>
                        <li><a href="#">visitwales.com</a></li>
                    </ul>
                    <h2>Policies</h2>
                    <ul class="list-group">
                        <li><a href="http://google.com" >Terms and Conditions</a></li>
                        <li><a href="#" class="list-inline-item">Privacy Policy</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="follow">
                    <h2>Follow Us</h2>
                    <!-- Place <div> tag where you want the feed to appear -->
                    <div id="curator-feed-default-feed-layout"><a href="https://curator.io" target="_blank" class="crt-logo crt-tag"></a></div>
                    <!-- The Javascript can be moved to the end of the html page before the </body> tag -->
                    <script type="text/javascript">
                        /* curator-feed-default-feed-layout */
                        (function(){
                            var i, e, d = document, s = "script";i = d.createElement("script");i.async = 1;
                            i.src = "https://cdn.curator.io/published/5b0569a1-3f7a-4db3-8a1e-cfd11ab06dd0.js";
                            e = d.getElementsByTagName(s)[0];e.parentNode.insertBefore(i, e);
                        })();
                    </script>
                </div>
            </div>

        </div>
    </div>
</footer>

<!-- jQuery first, then Tether, then Bootstrap JS. -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.1.1/gsap.min.js" integrity="sha256-cyEXrJKjO3YNkpCjPxVBdi7pRJ3EF+okm1oN9Qc4rRY=" crossorigin="anonymous"></script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/ScrollMagic.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/plugins/animation.gsap.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/plugins/debug.addIndicators.min.js"></script>

<script src="{{ site.url }}/assets/js/source.js"></script>

</body>
</html>
