<!--NAVBAR-->
<header>
    <div class="d-flex flex-column flex-md-row align-items-center  bg-dark box-shadow">
        <div class="container-fluid">

            <div class="nav-text bg-primary text-light p-2">
                <i class="fa fa-phone" aria-hidden="true"></i><span class="pr-lg-2"> 029 2022 6501 </span><i class="fa fa-envelope"></i><a class="pl-2" href="mailto:sales@dragonsigns.com">hello@N-MH.co.uk</a>

                <span class="social-buttons">
                    <a href="https://www.facebook.com/dragonsigns" target="_blank" class="fab fa-facebook-f fa-2x"></a>
                    <a href="https://twitter.com/dragon_signs" target="_blank" class="fab fa-twitter fa-2x"></a>
                    <!--<a href="https://plus.google.com/117843347073935131993" target="_blank" class="fab fa-google fa-2x"></a>-->
                    <a href="https://instagram.com/dragonsigns/" target="_blank" class="fab fa-instagram fa-2x"></a>
                    <a href="mailto:sales@dragonsigns.com" class="fa fa-envelope fa-2x" aria-hidden="true"></a>
                </span>

            </div>



        </div>
    </div>

    <nav class="navbar navbar-expand-lg navbar-dark">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <a href="/" class="mr-md-auto">
            <img src="{{site.url}}/assets/img/Dragon-Signs-Logo.jpg" class="img-fluid" alt="dragonsigns logo" height="75" >
        </a>

        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
                {% if page.active == "home" %}
                <li class="active"><a href="#">Home</a></li>
                {% else %}
                <li><a href="/">Home</a></li>
                {% endif %}


                <div class="dropdown show">
                    {% if page.active == "our-fleet" %}
                    <li class="active dropdown-toggle" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><a href="#">Our Fleet</a></li>
                    {% else %}
                    <li class="dropdown-toggle" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><a href="#"><a href="../our-fleet.html">Our Fleet</a></li>
                    {% endif %}

                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <li><a class="dropdown-item" href="/freedom-motorhome.html">Freedom Motorhome</a></li>
                    </div>
                </div>



                {% if page.active == "our-work" %}
                <li class="active"><a href="#">Partner Motorhomes</a></li>
                {% else %}
                <li><a href="../our-work.html">Partner Motorhomes</a></li>
                {% endif %}

                {% if page.active == "our-process" %}
                <li class="active"><a href="#">Our Process</a></li>
                {% else %}
                <li><a href="../our-process.html">Whats Included</a></li>
                {% endif %}

                {% if page.active == "case-studies" %}
                <li class="active"><a href="#">Case Studies</a></li>
                {% else %}
                <li><a href="../case-studies.html">The Options</a></li>
                {% endif %}

                {% if page.active == "digital" %}
                <li class="active"><a href="#">Digital</a></li>
                {% else %}
                <li><a href="../digital.html">Pet Policy</a></li>
                {% endif %}

                {% if page.active == "blog" %}
                <li class="active mr-2"><a href="#">News</a></li>
                {% else %}
                <li class="mr-3"><a href="../news/">FAQ</a></li>
                {% endif %}

                {% if page.active == "contact" %}
                <li class="active"><a href="#">Contact</a></li>
                {% else %}
                <li class="navbar-booking"><a href="../contact.html">Bookings</a></li>
                {% endif %}
            </ul>
        </div>

    </nav>
</header>